.album-cover-art {
    max-width:100%;
    height:auto;
    color: white;
}


.App {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;
  text-decoration: overline;
  background-image: url("https://i.imgur.com/iHsIAoD.jpg");
  max-width:100%;
  padding-top: 25px;
  padding: 40px;
  height:auto;

}

.album {
  text-align: center;
  font-family: monospace;
  color: white;
}

.album-info {
  text-align: center;
  font-family: monospace;
  color: white;
}

.album-details {
  text-align: center;
  font-family: monospace;
  color: white;
}

.album-title {
  text-align: center;
  font-family: monospace;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
  color: white;
}


.landing{
  background-image: url("https://i.imgur.com/o2D9x01.jpg");
  color: white;
  text-align: center;
  font-family: monospace;
  color: white;
}

.libraryart {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;
}

.artist-library{
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;
}

.length-library {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;

}

.landinglink {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;

}

.song-list {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;
}


.title-library {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 20px;
}



/* .song:hover {
  background-image: url("https://i.imgur.com/7d9auows.jpg");
  background-repeat: no-repeat;
  background-position: 5px 8px -5px 10px;
  background-size: 18px 20px;
  width: 0px;
  height: 5px;
} */


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
